<p id="notice"><%= notice %></p>

<p>
  <strong>Congratulations You Just Booked:</strong>
  <p><%= @event.name %></p>
</p>

<p>
  <strong>Beginning:</strong>
  <%= @event.start_at.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Ending:</strong>
  <%= @event.end_at.strftime("%B %d. %Y") %>
</p>

<%= link_to 'Go back to Listings', root_path %>
